:root {
  --clr-menuGray: #f0efe6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Tahoma", "Comic Sans MS";
  font-size: 12px;
  color: hsl(240, 40%, 10%);
}

.dnone {
  display: none !important;
}

.invisible {
  opacity: 0 !important;
  pointer-events: none;
}

.activeWindow {
  z-index: 99 !important;
}

button {
  all: unset;
  user-select: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

*::-webkit-resizer {
  display: none;
}

#windows {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  background: url("./assets/images/wallpaper1.jpg") no-repeat center
    center/cover;
  position: relative;
  overflow: hidden;
}

#windows.bsod::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url(./assets/images/bsod.png);
  background-repeat: no-repeat;
  background-color: hsl(240, 100%, 33%);
  z-index: 666;
}

#taskbar {
  width: 100%;
  height: 40px;
  background: linear-gradient(
    to bottom,
    #1e3a8a99 1px,
    #60a5fa 3px 10%,
    #2563eb 16% 90%,
    #1e40af,
    #1e3a8a
  );
  display: flex;
  position: relative;
}

#startBtn {
  background: linear-gradient(
    to bottom,
    hsl(120, 41%, 20%) 2%,
    hsl(120, 41%, 80%) 8% 10%,
    hsl(120, 41%, 49%) 20% 80%,
    hsl(120, 41%, 29%)
  );
  color: white;
  font-style: italic;
  font-size: 1.6rem;
  padding: 0.25em 0.5em 0.25em 0.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  box-shadow: inset 1px 0 3px #0008,
    inset -4px -2px 9px hsla(120, 41%, 20%, 0.5),
    inset -6px 0 12px hsla(120, 41%, 20%, 0.6);
  line-height: 1;
  width: 4em;
}

#startBtn img {
  width: 1em;
  height: 1em;
  filter: drop-shadow(2px 2px 2px #0008);
}
#startBtn span {
  display: block;
  font-size: 1.4rem;
  margin: 0 0.5em 0 0.25em;
  text-shadow: 2px 2px 4px #000c;
}

#taskbarShortcuts {
  display: flex;
  align-items: center;
  padding: 0.1em 1em;
  margin-top: 4px;
}

#taskbarShortcuts button {
  width: max-content;
}

#taskbarShortcuts button:hover {
  outline: 2px solid #fff3;
  border-radius: 3px;
  background-color: #fff3;
}

#taskbarShortcuts button img {
  display: block;
  height: 20px;
  width: 20px;
  filter: drop-shadow(2px 2px 2px #0008);
  pointer-events: none;
}

#openedApps {
  display: flex;
  align-items: center;
  gap: 1px;
}

.openedAppTab {
  display: flex;
  gap: 0.25em;
  color: white;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 3px;
  height: 80%;
  margin-top: 4px;
  padding: 0 1em;
  flex-basis: 14em;
  box-shadow: inset 1px 2px 3px #fff4;
  background-color: #fff2;
  min-width: max-content;
}

.openedAppTab.active {
  box-shadow: inset 1px 1px 2px #0008;
  background-color: #0003;
  border-color: #0005;
}

.openedAppTab img {
  height: 20px;
  width: 20px;
}

#startMenu {
  position: absolute;
  z-index: 100;
  bottom: 97%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  box-shadow: 2px 2px 6px #0008, 3px 1px 5px #0005;
  user-select: none;
}

#startMenu header {
  display: flex;
  align-items: center;
  background: linear-gradient(
    to bottom,
    hsl(214, 89%, 42%) 1px,
    hsl(214, 89%, 70%) 2px 3px,
    hsl(213, 79%, 42%) 5px,
    hsl(213, 79%, 46%),
    hsl(213, 79%, 60%)
  );
  padding: 0.75em;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

#startMenu ul {
  padding: 0.5em;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.25em;
}

#startMenu li {
  display: flex;
  align-items: center;
  gap: 0.3em;
  padding: 0.25em;
  padding-right: 1em;
}

#startMenu li span {
  display: block;
  color: #555;
}

#startMenu li strong {
  margin-right: auto;
}

#startMenu li:hover {
  background-color: hsl(214, 89%, 42%);
  color: white;
}

#startMenu li:hover span {
  color: #fffd;
}

.icon_regular {
  width: 48px;
  height: 48px;
}

.icon_small {
  width: 32px;
  height: 32px;
}

#startMenu ul hr {
  border: 0;
  height: 1px;
  width: 100%;
  margin: 0.25em auto;
  background: linear-gradient(to right, transparent 5%, #0003, transparent 95%);
}

#startMenuShortcutsL hr:last-of-type {
  margin-top: auto;
}

#startMenuShortcutsL li:last-of-type {
  width: 100%;
  display: flex;
  justify-content: center;
}

#startMenuShortcutsL li:last-of-type strong {
  margin: 0;
}

#startMenuShortcutsL li:last-of-type img {
  height: 110%;
  margin-left: 0.4em;
}

#startMenuShortcutsR {
  background-color: hsl(213, 84%, 91%);
  border-left: 1px solid #0003;
}

#startMenu footer {
  display: flex;
  justify-content: end;
  background-color: dodgerblue;
}

#startMenu footer button {
  margin: 0.75em;
  font-size: 0.9rem;
  color: white;
  display: flex;
  align-items: center;
  gap: 0.3em;
}

#avatar {
  width: 60px;
  height: 60px;
  border: 3px solid #fffc;
  border-radius: 7px;
  box-shadow: 1px 1px 6px #0008;
}

#avatar img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#username {
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
  margin-left: 0.5em;
  text-shadow: 1px 2px 3px #000a;
}

#startMenuItems {
  display: flex;
  flex: 1;
  background-color: snow;
  position: relative;
  border: 2px solid #1e40afbb;
}

#startMenuItems::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    to right,
    transparent,
    rgb(248, 128, 16),
    transparent
  );
}

#openedApps {
  flex: 1;
}

#sideIcons {
  background: linear-gradient(
    to bottom,
    hsla(203, 89%, 25%, 0.2) 1px,
    hsl(203, 89%, 65%) 3px 10%,
    hsl(203, 89%, 50%) 16% 90%,
    #1e40af,
    #1e3a8a
  );
  display: flex;
  align-items: center;
  padding: 0.25em 1em;
  border-left: 2px solid hsl(203, 29%, 25%);
}

#time {
  color: white;
}

/* Desktop */
#desktop {
  display: grid;
  grid-template-columns: repeat(auto-fill, 80px);
  grid-template-rows: repeat(auto-fill, 80px);
  gap: 32px;
  padding: 1em;
  position: relative;
}

.appIcon {
  color: white;
  text-shadow: 1px 1px 3px #000a;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6em;
  text-align: center;
}

.scutIcon .appIconImage {
  position: relative;
}

.scutIcon .appIconImage::before {
  content: '';
  position: absolute;
  inset: 0;
  background: url("./assets/icons/shortcut.ico");
  background-repeat: no-repeat;
  background-position: 0 100%;
}

.appIcon img {
  display: block;
  width: 48px;
  height: 48px;
  object-fit: contain;
  pointer-events: none;
}

/* App windows */
.appWindow {
  width: 80vw;
  height: 80vh;
  background: linear-gradient(
    to bottom,
    hsl(214, 89%, 42%) 1px,
    hsl(214, 89%, 70%) 2px 3px,
    hsl(213, 79%, 42%) 5px,
    white 5px
  );
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border: 2px solid hsla(214, 59%, 60%);
  border-top: none;
  position: absolute;
  top: 10vh;
  left: 5vw;
  resize: both;
  overflow: hidden;
  min-width: 350px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s, opacity 0.3s;
}

.appContent {
  flex: 1;
  border-top: 1px solid white;
}

.maximized {
  height: 100% !important;
  width: 100% !important;
  top: 0 !important;
  left: 0 !important;
}

.minimized {
  transform: scale(0.1) !important;
  opacity: 0 !important;
  top: 100% !important;
}

.appWindow header {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: calc(100% + 2px);
  box-shadow: inset -2px -2px 3px #0005;
  display: flex;
  align-items: center;
  background: linear-gradient(
    to bottom,
    hsl(214, 89%, 42%) 1px,
    hsl(214, 89%, 70%) 2px 3px,
    hsl(213, 79%, 42%) 5px,
    hsl(213, 79%, 46%),
    hsl(213, 79%, 60%)
  );
  color: white;
  text-shadow: 1px 1px 3px #000a;
  height: 32px;
  padding: 4px 3px 0px;
  user-select: none;
  filter: brightness(140%) contrast(70%);
}

.appWindow.activeWindow {
  border-color: hsla(214, 89%, 42%);
}

.appWindow.activeWindow header {
  filter: none;
}

.appWindow header p {
  pointer-events: none;
}

.appWindow header img {
  height: 16px;
  width: 16px;
  margin-right: 0.2em;
  pointer-events: none;
}

.appWindowActions {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: auto;
}

.appWindowActions button {
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
}

.appWindowActions button:disabled {
  opacity: .6;
}

.btnWindowMinimize {
  background: url("./assets/icons/windowminimize.png") no-repeat center
    center/cover;
}
.btnWindowMaximize {
  background: url("./assets/icons/windowmaximize.png") no-repeat center
    center/cover;
}
.btnWindowRestore {
  background: url("./assets/icons/windowrestore.png") no-repeat center
    center/cover;
}
.btnWindowClose {
  background: url("./assets/icons/windowclose.png") no-repeat center
    center/cover;
}

.appMenu {
  background-color: var(--clr-menuGray);
  display: flex;
  margin-left: -1px;
  font-size: 0.7rem;
  border-bottom: 1px solid #0001;
  user-select: none;
}

.appMenu li {
  padding: 0.4em 0.8em 0.5em;
  position: relative;
}

.appMenu li:hover {
  background-color: hsl(214, 89%, 42%);
  color: white;
}

.appMenu .submenu {
  position: absolute;
  left: 0;
  top: 100%;
  background-color: var(--clr-menuGray);
  display: none;
  border: 1px solid #999;
  background-color: white;
  font-size: 0.7rem;
  box-shadow: 2px 2px 3px #0008;
  padding: 2px;
  color: #111;
  z-index: 100;
  min-width: 10em;
  width: max-content;
}

.appMenu .submenu li {
  padding: .3em 1.5em;

}

.appMenu .submenu hr {
  border: none;
  border-top: 1px solid #ccc;
  width: 100%;
  margin: 0.25em 0;
}

.appMenu li:hover .submenu {
  display: block;
}

.fileExpActions {
  border-top: 1px solid #fff6;
  border-bottom: 1px solid #0001;
  background-color: var(--clr-menuGray);
  display: flex;
  padding: 0em 0.6em;
  font-size: 0.7rem;
}

.fileExpActions button {
  display: flex;
  gap: 0.5em;
  align-items: center;
  padding: 0.4em 0.2em;
  padding-right: 0.8em;
  border: 1px solid transparent;
  border-radius: 4px;
}

.fileExpActions button:hover {
  border-color: #ccc;
  background: linear-gradient(to bottom, white, #eee);
  box-shadow: inset -1px -2px 2px #0002;
}

.fileExpActions button + button {
  margin-left: 0.5em;
}

.fileExpActions img {
  height: 26px;
  width: 26px;
}

.fileExpAddressBar {
  border-top: 1px solid #fff6;
  background: linear-gradient(to top, #ddd, var(--clr-menuGray) 3px);
  display: flex;
  font-size: 0.7rem;
  align-items: center;
  padding: 0 0.5em;
}

.fileExpAddressBar span {
  color: #777;
  user-select: none;
}

.fileExpAddressInput {
  flex: 1;
  margin-left: 0.5em;
  margin-right: 0.7em;
  line-height: 1;
  border: 1px solid #7f9db9;
  background-color: white;
  height: 2em;
  padding: 0.1em 0.25em;
  display: flex;
  align-items: center;
}

.fileExpAddressInput img {
  display: block;
  margin-right: 0.25em;
  max-height: 100%;
  user-select: none;
}

.fileExpAddressInput input {
  all: unset;
  flex: 1;
}

.verticalseparator {
  width: 1px;
  align-self: stretch;
  margin: 0 0.5em;
  background-color: #ccc;
}

/* App window content */
.appWindowContent {
  display: flex;
  height: 100%;
}

.appWindowContent .sidebar {
  background-color: #7190e0;
  width: 200px;
  font-size: 0.7rem;
  overflow: scroll;
  color: #215dc6;
}

.appWindowContent .sidebarBlock {
  margin: 1em;
  background-color: #d6dff7;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;
}

.appWindowContent .sidebarBlockHeader {
  background: linear-gradient(to right, white, transparent);
  padding: 0.5em 1.25em;
  font-weight: bold;
  user-select: none;
}

.appWindowContent .sidebarBlockItems {
  padding: 0.5em 1.25em;
  border: 1px solid white;
  border-top: none;
}

.sidebarBlockItems button {
  margin: 0.5em 0;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.sidebarBlockItems button:hover {
  cursor: pointer;
  color: hsl(218, 80%, 60%);
  text-decoration: underline;
}

.sidebarBlockItems button img {
  height: 16px;
  width: 16px;
  align-self: flex-start;
}

.appWindowInside {
  padding: 0.4em;
  display: grid;
  grid-auto-rows: 58px;
}

.folderItem {
  display: flex;
  align-items: center;
  gap: 0.4em;
}

.folderDetails {
  color: #000;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.folderDetails p:first-of-type {
  font-weight: bold;
}

/* Contextual menu */
#contextualMenu {
  position: fixed;
  border: 1px solid #999;
  background-color: white;
  font-size: 0.7rem;
  box-shadow: 2px 2px 3px #0008;
  padding: 3px;
  min-width: max-content;
  color: #111;
  z-index: 100;
  transition: opacity 0.3s;
}

#contextualMenu hr {
  border: none;
  border-top: 1px solid #ccc;
  width: 100%;
  margin: 0.25em 0;
}

#contextualMenu li {
  padding: 0.2em 1em;
  padding-right: 2em;
}

#contextualMenu li:hover {
  background-color: hsl(214, 89%, 42%);
  color: white;
}

/* Notepad app */
.appWindow[data-app="notepad"] .appContent {
  display: flex;
}

.notepadTextarea {
  all: unset;
  flex: 1;
  height: 100%;
  max-height: 100%;
  border: 1px solid hsl(214, 89%, 42%);
  font-family: "Courier New", Courier, monospace;
  padding: 2px;
  font-weight: bold;
}

/* Calculator app */
.appWindow[data-app="calculator"] {
  width: max-content;
  height: max-content;
  min-width: max-content;
  min-height: max-content;
}

.appWindow[data-app="calculator"] .appContent {
  background-color: var(--clr-menuGray);
  padding: 0.1em 0.8em;
}

.calc_result {
  background-color: white;
  border: 1px solid #222;
  padding: 0.2em 0.5em 0.5em;
  text-align: right;
  cursor: text;
}

.calc_interface {
  margin: 0.8em 0;
  display: grid;
  gap: 0.5em;
  width: max-content;
  grid-template-columns: repeat(2, auto);
  color: blue;
}

.calc_empty {
  border: 1px solid white;
  border-top: 0;
  border-left: 0;
  width: 65%;
  margin-left: 10%;
  align-self: center;
  height: 85%;
  box-shadow: inset 1px 1px 2px #0008, inset -1px -1px 1px #fff;
}

.calc_interface button {
  border: 1px solid #222;
  padding: 0.3em 0.2em;
  min-width: max-content;
  background: linear-gradient(to bottom, #fff, #eee);
  border: 2px solid transparent;
  outline: 1px solid hsl(214, 70%, 30%);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  border-bottom: 2px solid #0001;
}

.calc_interface button:hover {
  background: linear-gradient(#fff, #eee),
    linear-gradient(to top, orange, rgba(255, 166, 0, 0.185));
  background-clip: padding-box, border-box;
  background-size: cover;
  background-origin: border-box;
}

.calc_interface button:active {
  background: #e0e0e0;
  border-top-color: #ccc;
  border-bottom-color: #eee;
}

.calc_topline {
  grid-column: 2 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: inherit;
  margin-bottom: 0.3em;
  color: red;
}

.calc_topline button {
  width: auto;
}

.calc_leftline {
  display: grid;
  gap: inherit;
  margin-right: 0.5em;
  color: red;
}

.calc_mainblock {
  display: grid;
  gap: inherit;
  grid-template-columns: repeat(5, 1fr);
}

.calc_red {
  color: red;
}

/* Windows Media Player app */
.appWindow[data-app="wmp"] {
  width: max-content;
  min-width: max-content;
  height: max-content;
  min-height: max-content;
}
.appWindow[data-app="wmp"] .appContent {
  display: flex;
  flex-direction: column;
  width: max-content
}

.wmp_topbar {
  height: 20px;
  background-color: slategray;
}

.wmp_viz {
  background: radial-gradient(dodgerblue, #222);
  flex: 1;
}

.wmp_viz video {
  width: 320px;
  height: 240px;
  object-fit: cover;
}

.wmp_bottombar {
  height: 20px;
}

.wmp_controls {
  background: linear-gradient(to bottom, #6b8cd2, #3b4088);
  height: 50px;
  padding: 6px;
  display: grid;
  grid-template-columns: 40px 24px 26px 40px auto auto 1fr;
}

.wmp_controls button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  align-self: end;
  grid-row: 1;
}

.wmp_controls_play {
  border: 2px solid rgba(10, 42, 131, .9);
  border-top-width: 1px;
  border-radius: 100%;
  height: 32px;
  width: 32px;
  box-shadow: 0 2px 2px #fff6, 0 -2px 1px #0004;
  background: linear-gradient(to bottom, white, #7e8eaf);
}

.wmp_controls_play div {
  height: 0;
  width: 0;
  border: 5px solid #012f94;
  border-left-width: 10px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  margin-left: 6px;
  filter: drop-shadow(0px 1px 1px white);
}

.wmp_controls_stop {
  width: 12px;
  height: 26px;
  border: 2px solid rgba(10, 42, 131, .9);
  border-top-width: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  box-shadow: 0 2px 2px #fff6, 0 -2px 1px #0004;
  background: linear-gradient(to bottom, white, #7e8eaf);
  transform: rotate(-25deg);
  margin: 6px;
}

.wmp_controls_stop div {
  width: 5px;
  height: 5px;
  background-color: #012f94;
  transform: rotate(25deg);
}

.wmp_controls_back,
.wmp_controls_forward {
  width: 20px;
  height: 8px;
  border: 2px solid rgba(10, 42, 131, .9);
  border-top-width: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  box-shadow: 0 2px 2px #fff6, 0 -2px 1px #0004;
  background: linear-gradient(to bottom, white, #7e8eaf);
}

.wmp_controls_back div {
  height: 0;
  width: 0;
  border: 3px solid #012f94;
  border-right-width: 8px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
  margin-right: 2px;
  filter: drop-shadow(0px 1px 1px white);
}

.wmp_controls_back span {
  width: 2px;
  height: 6px;
  background-color: #012f94;
  margin-right: -3px;
  margin-left: 1px;
}

.wmp_controls_forward div {
  height: 0;
  width: 0;
  border: 3px solid #012f94;
  border-left-width: 8px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  margin-right: 2px;
  filter: drop-shadow(0px 1px 1px white);
}

.wmp_controls_forward span {
  width: 2px;
  height: 6px;
  background-color: #012f94;
  margin-left: -5px;
}

.wmp_controls_mute {
  width: 20px;
  height: 10px;
  border: 2px solid rgba(10, 42, 131, .9);
  border-top-width: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  box-shadow: 0 2px 2px #fff6, 0 -2px 1px #0004;
  background: linear-gradient(to bottom, white, #7e8eaf);
}

.wmp_controls_mute div:first-child {
  height: 0;
  width: 0;
  border: 3px solid #012f94;
  border-right-width: 5px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
  margin-left: -4px;
  filter: drop-shadow(0px 1px 1px white);
}

.wmp_controls_mute span {
  display: block;
  width: 5px;
  height: 2px;
  margin: 1px 2px;
  background-color: #012f94;
  box-shadow: inset 0 -1px 0 #fff6;
}

.wmp_controls_mute span:first-of-type {
  transform: rotate(-12deg);
}
.wmp_controls_mute span:last-of-type {
  transform: rotate(12deg);
}

.wmp_controls button:enabled:hover {
  outline: 2px solid rgba(0, 255, 255, 0.2);
}

.wmp_controls_play:hover div {
  border-left-color: orange;
}

.wmp_controls_stop:hover div {
  background-color: orange;
}

.wmp_controls_mute:hover div {
  border-right-color: orange;
}

.wmp_controls_mute:hover span {
  background-color: orange;
}

.wmp_controls button:disabled > * {
  opacity: .4;
}



/*******/
/* WORKSHOP */

#WORKSHOP {
  position: fixed;
  width: max-content;
  height: max-content;

  z-index: 999;
  /* display: none; */
}


/* Internet Explorer app */
.appWindow[data-app="internetexplorer"] .appContent {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ie_topbar {
  background-color: #f3f5f6;
  padding: 3px;
  border-bottom: 1px solid #333;
}

.ie_topbar > * {
  display: flex;
}

.ie_nav_buttons {
  display: flex;
}

.ie_nav_buttons button {
  width: 32px;
  height: 32px;
  background-size: 100% !important;
}

.ie_back:disabled {
  background: url(./assets/icons/ie/navbuttons/b0.png);
}
.ie_back {
  background: url(./assets/icons/ie/navbuttons/b1.png);
}
.ie_back:enabled:hover {
  background: url(./assets/icons/ie/navbuttons/b2.png);
}
.ie_forward:disabled {
  background: url(./assets/icons/ie/navbuttons/f0.png);
}
.ie_forward {
  background: url(./assets/icons/ie/navbuttons/f1.png);
}
.ie_forward:enabled:hover {
  background: url(./assets/icons/ie/navbuttons/f2.png);
}

.ie_urlbar {
  all: unset;
  margin-left: .5em;
  padding: .2em .5em;
  border: 1px solid #7f9db9;
  flex: 1;
  height: 1.5em;
  align-self: center;
  background-color: white;
}

.ie_frame {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.ie_frame iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.ie_noconnectpage {
  padding: 2em;
  display: grid;
  grid-template-columns: auto 1fr;
  font-family: "Segoe UI", "Verdana", "Arial", sans-serif;
}

.ie_noconnectpage img {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  margin-right: 1em;
}

.ie_noconnectpage p {
  grid-column: 2 / 3;
  font-size: 1rem;
  margin-top: .5em;
  color: #447fd0;
}

.ie_noconnectpage hr {
  grid-column:  2 / 3;
  grid-row: 2 / 3;
  height: 0;
  width: 150%;
  align-self: end;
  border-color: transparent;
  border-top-color: initial;
}

.ie_noconnectpage span {
  grid-column: 2 / 3;
  color: #575757;
  margin: 1.5em 0 1em;
}
.ie_noconnectpage button {
  grid-column: 2 / 3;
  padding: 0.1em 0.6em;
  background: linear-gradient(#fff, #eee),
    linear-gradient(to top, hsl(214, 70%, 60%), hsla(214, 70%, 60%, .4));
  background-clip: padding-box, border-box;
  background-size: cover;
  background-origin: border-box;
  border: 2px solid transparent;
  outline: 1px solid hsl(214, 70%, 30%);
  border-radius: 3px;
  border-bottom: 2px solid #0001;
  width: max-content;
  margin-bottom: 1.5em;
}

.ie_noconnectpage button:hover {
  background: linear-gradient(#fff, #eee),
    linear-gradient(to top, orange, rgba(255, 166, 0, 0.185));
  background-clip: padding-box, border-box;
  background-size: cover;
  background-origin: border-box;
}

.ie_noconnectpage details {
  display: block;
  grid-column: 2 / 3;
  color: rgb(19,112,171);
  margin-bottom: 4em;

}

.ie_noconnectpage summary::marker {
  color: transparent;
}

.ie_noconnectpage summary {
  margin-left: -10px;
  margin-bottom: 1em;
  color: rgb(19,112,171);
  font-size: .9rem;
  display: flex;
  align-items: center;
  background: url("./assets/icons/ie/detailsarrow.png");
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding-left: 24px;
  text-decoration: underline;
  text-decoration-color: transparent;
}

.ie_noconnectpage summary:hover {
  color: rgb(7,74,229);
  text-decoration-color: currentColor;
  cursor: pointer;
}

#ie_moreinformation {
  grid-column: 2 / 3;
  color: #555;
}

#ie_moreinformation > * + * {
  margin-bottom: .8em;
}

#ie_moreinformation p {
  all: unset;
  display: block;
  margin-bottom: .8em;
}

#ie_moreinformation p + p {
  margin: 0;
}

#ie_moreinformation ul {
  list-style: initial;
  padding-left: 3em;
}

#ie_moreinformation ol {
  margin-top: 1em;
  padding-left: 3em;
}

#ie_moreinformation:target {
  display: block !important;
}

.ie_refresh,
.ie_stop {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  align-self: center;
  margin-left: 4px;
}

.ie_refresh img:last-of-type,
.ie_stop img:last-of-type {
  display: none;
}

.ie_refresh:hover img:first-of-type,
.ie_stop:hover img:first-of-type {
  display: none;
}
.ie_refresh:hover img:last-of-type,
.ie_stop:hover img:last-of-type {
  display: block;
}

.ie_searchbar {
  all: unset;
  margin-left: .5em;
  padding: .2em .5em;
  border: 1px solid #7f9db9;
  flex: 1;
  height: 1.5em;
  align-self: center;
  background-color: white;
  background-image: url(./assets/icons/ie/google.png);
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: 4px 42%;
  padding-left: 24px;
}
