*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Tahoma", "Comic Sans MS";
  font-size: 12px;
  color: hsl(240, 40%, 10%);
}

.dnone {
  display: none !important;
}

.invisible {
  opacity: 0 !important;
  pointer-events: none;
}

.activeWindow {
  z-index: 99 !important;
}

button {
  all: unset;
  user-select: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

*::-webkit-resizer {
  display: none;
}

#windows {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  background: url("./assets/images/wallpaper1.jpg") no-repeat center
    center/cover;
  position: relative;
  overflow: hidden;
}

#windows.bsod::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url(./assets/images/bsod.png);
  background-repeat: no-repeat;
  background-color: hsl(240, 100%, 33%);
  z-index: 666;
}

#taskbar {
  width: 100%;
  height: 40px;
  background: linear-gradient(
    to bottom,
    #1e3a8a99 1px,
    #60a5fa 3px 10%,
    #2563eb 16% 90%,
    #1e40af,
    #1e3a8a
  );
  display: flex;
  position: relative;
}

#startBtn {
  background: linear-gradient(
    to bottom,
    hsl(120, 41%, 20%) 2%,
    hsl(120, 41%, 80%) 8% 10%,
    hsl(120, 41%, 49%) 20% 80%,
    hsl(120, 41%, 29%)
  );
  color: white;
  font-style: italic;
  font-size: 1.6rem;
  padding: 0.25em 0.5em 0.25em 0.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  box-shadow: inset 1px 0 3px #0008,
    inset -4px -2px 9px hsla(120, 41%, 20%, 0.5),
    inset -6px 0 12px hsla(120, 41%, 20%, 0.6);
  line-height: 1;
  width: 4em;
}

#startBtn img {
  width: 1em;
  height: 1em;
  filter: drop-shadow(2px 2px 2px #0008);
}
#startBtn span {
  display: block;
  font-size: 1.4rem;
  margin: 0 0.5em 0 0.25em;
  text-shadow: 2px 2px 4px #000c;
}

#taskbarShortcuts {
  display: flex;
  align-items: center;
  padding: 0.1em 1em;
  margin-top: 4px;
}

#taskbarShortcuts button {
  width: max-content;
}

#taskbarShortcuts button:hover {
  outline: 2px solid #fff3;
  border-radius: 3px;
  background-color: #fff3;
}

#taskbarShortcuts button img {
  display: block;
  height: 20px;
  width: 20px;
  filter: drop-shadow(2px 2px 2px #0008);
  pointer-events: none;
}

#openedApps {
  display: flex;
  align-items: center;
  gap: 1px;
}

.openedAppTab {
  display: flex;
  gap: 0.25em;
  color: white;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 3px;
  height: 80%;
  margin-top: 4px;
  padding: 0 1em;
  flex-basis: 14em;
  box-shadow: inset 1px 2px 3px #fff4;
  background-color: #fff2;
  min-width: max-content;
}

.openedAppTab.active {
  box-shadow: inset 1px 1px 2px #0008;
  background-color: #0003;
  border-color: #0005;
}

.openedAppTab img {
  height: 20px;
  width: 20px;
}

#startMenu {
  position: absolute;
  z-index: 100;
  bottom: 97%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  box-shadow: 2px 2px 6px #0008, 3px 1px 5px #0005;
  user-select: none;
}

#startMenu header {
  display: flex;
  align-items: center;
  background: linear-gradient(
    to bottom,
    hsl(214, 89%, 42%) 1px,
    hsl(214, 89%, 70%) 2px 3px,
    hsl(213, 79%, 42%) 5px,
    hsl(213, 79%, 46%),
    hsl(213, 79%, 60%)
  );
  padding: 0.75em;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

#startMenu ul {
  padding: 0.5em;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.25em;
}

#startMenu li {
  display: flex;
  align-items: center;
  gap: 0.3em;
  padding: 0.25em;
  padding-right: 1em;
}

#startMenu li span {
  display: block;
  color: #555;
}

#startMenu li strong {
  margin-right: auto;
}

#startMenu li:hover {
  background-color: hsl(214, 89%, 42%);
  color: white;
}

#startMenu li:hover span {
  color: #fffd;
}

.icon_regular {
  width: 48px;
  height: 48px;
}

.icon_small {
  width: 32px;
  height: 32px;
}

#startMenu ul hr {
  border: 0;
  height: 1px;
  width: 100%;
  margin: 0.25em auto;
  background: linear-gradient(to right, transparent 5%, #0003, transparent 95%);
}

#startMenuShortcutsL hr:last-of-type {
  margin-top: auto;
}

#startMenuShortcutsL li:last-of-type {
  width: 100%;
  display: flex;
  justify-content: center;
}

#startMenuShortcutsL li:last-of-type strong {
  margin: 0;
}

#startMenuShortcutsL li:last-of-type img {
  height: 110%;
  margin-left: 0.4em;
}

#startMenuShortcutsR {
  background-color: hsl(213, 84%, 91%);
  border-left: 1px solid #0003;
}

#startMenu footer {
  display: flex;
  justify-content: end;
  background-color: dodgerblue;
}

#startMenu footer button {
  margin: 0.75em;
  font-size: 0.9rem;
  color: white;
  display: flex;
  align-items: center;
  gap: 0.3em;
}

#avatar {
  width: 60px;
  height: 60px;
  border: 3px solid #fffc;
  border-radius: 7px;
  box-shadow: 1px 1px 6px #0008;
}

#avatar img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#username {
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
  margin-left: 0.5em;
  text-shadow: 1px 2px 3px #000a;
}

#startMenuItems {
  display: flex;
  flex: 1;
  background-color: snow;
  position: relative;
  border: 2px solid #1e40afbb;
}

#startMenuItems::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    to right,
    transparent,
    rgb(248, 128, 16),
    transparent
  );
}

#openedApps {
  flex: 1;
}

#sideIcons {
  background: linear-gradient(
    to bottom,
    hsla(203, 89%, 25%, 0.2) 1px,
    hsl(203, 89%, 65%) 3px 10%,
    hsl(203, 89%, 50%) 16% 90%,
    #1e40af,
    #1e3a8a
  );
  display: flex;
  align-items: center;
  padding: 0.25em 1em;
  border-left: 2px solid hsl(203, 29%, 25%);
}

#time {
  color: white;
}

/* Desktop */
#desktop {
  display: grid;
  grid-template-columns: repeat(auto-fill, 80px);
  grid-template-rows: repeat(auto-fill, 80px);
  gap: 32px;
  padding: 1em;
  position: relative;
}

.appIcon {
  color: white;
  text-shadow: 1px 1px 3px #000a;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6em;
  text-align: center;
}

.appIcon img {
  display: block;
  width: 48px;
  height: 48px;
  object-fit: contain;
}

/* App windows */
.appWindow {
  width: 80vw;
  height: 80vh;
  background: linear-gradient(
    to bottom,
    hsl(214, 89%, 42%) 1px,
    hsl(214, 89%, 70%) 2px 3px,
    hsl(213, 79%, 42%) 5px,
    white 5px
  );
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border: 2px solid hsla(214, 89%, 42%);
  border-top: none;
  position: absolute;
  top: 10vh;
  left: 5vw;
  resize: both;
  overflow: hidden;
  min-width: 350px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s, opacity 0.3s, top 0.3s;
}

.appContent {
  flex: 1;
  border-top: 1px solid white;
}

.maximized {
  height: 100% !important;
  width: 100% !important;
  top: 0 !important;
  left: 0 !important;
}

.minimized {
  transform: scale(0.1) !important;
  opacity: 0 !important;
  top: 100% !important;
}

.appWindow header {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  width: calc(100% + 2px);
  box-shadow: inset -2px -2px 3px #0005;
  display: flex;
  align-items: center;
  background: linear-gradient(
    to bottom,
    hsl(214, 89%, 42%) 1px,
    hsl(214, 89%, 70%) 2px 3px,
    hsl(213, 79%, 42%) 5px,
    hsl(213, 79%, 46%),
    hsl(213, 79%, 60%)
  );
  color: white;
  text-shadow: 1px 1px 3px #000a;
  height: 32px;
  padding: 4px 3px 0px;
  user-select: none;
}

.appWindow header p {
  pointer-events: none;
}

.appWindow header img {
  height: 16px;
  width: 16px;
  margin-right: 0.2em;
  pointer-events: none;
}

.appWindowActions {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: auto;
}

.appWindowActions button {
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
}

.btnWindowMinimize {
  background: url("./assets/icons/windowminimize.png") no-repeat center
    center/cover;
}
.btnWindowMaximize {
  background: url("./assets/icons/windowmaximize.png") no-repeat center
    center/cover;
}
.btnWindowClose {
  background: url("./assets/icons/windowclose.png") no-repeat center
    center/cover;
}

.appMenu {
  background-color: #f0efe6;
  display: flex;
  margin-left: -1px;
  font-size: 0.7rem;
  border-bottom: 1px solid #0001;
  user-select: none;
}

.appMenu li {
  padding: 0.4em 0.8em 0.5em;
}

.appMenu li:hover {
  background-color: hsl(214, 89%, 42%);
  color: white;
}

.fileExpActions {
  border-top: 1px solid #fff6;
  border-bottom: 1px solid #0001;
  background-color: #f0efe6;
  display: flex;
  padding: 0em 0.6em;
  font-size: 0.7rem;
}

.fileExpActions button {
  display: flex;
  gap: 0.5em;
  align-items: center;
  padding: 0.4em 0.2em;
  padding-right: 0.8em;
  border: 1px solid transparent;
  border-radius: 4px;
}

.fileExpActions button:hover {
  border-color: #ccc;
  background: linear-gradient(to bottom, white, #eee);
  box-shadow: inset -1px -2px 2px #0002;
}

.fileExpActions button + button {
  margin-left: 0.5em;
}

.fileExpActions img {
  height: 26px;
  width: 26px;
}

.fileExpAddressBar {
  border-top: 1px solid #fff6;
  background: linear-gradient(to top, #ddd, #f0efe6 3px);
  display: flex;
  font-size: 0.7rem;
  align-items: center;
  padding: 0 0.5em;
}

.fileExpAddressBar span {
  color: #777;
  user-select: none;
}

.fileExpAddressInput {
  flex: 1;
  margin-left: 0.5em;
  margin-right: 0.7em;
  line-height: 1;
  border: 1px solid #7f9db9;
  background-color: white;
  height: 2em;
  padding: 0.1em 0.25em;
  display: flex;
  align-items: center;
}

.fileExpAddressInput img {
  display: block;
  margin-right: 0.25em;
  max-height: 100%;
  user-select: none;
}

.fileExpAddressInput input {
  all: unset;
  flex: 1;
}

.verticalseparator {
  width: 1px;
  align-self: stretch;
  margin: 0 0.5em;
  background-color: #ccc;
}

/* App window content */
.appWindowContent {
  display: flex;
  height: 100%;
}

.appWindowContent .sidebar {
  background-color: #7190e0;
  width: 200px;
  font-size: 0.7rem;
  overflow: scroll;
  color: #215dc6;
}

.appWindowContent .sidebarBlock {
  margin: 1em;
  background-color: #d6dff7;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;
}

.appWindowContent .sidebarBlockHeader {
  background: linear-gradient(to right, white, transparent);
  padding: 0.5em 1.25em;
  font-weight: bold;
  user-select: none;
}

.appWindowContent .sidebarBlockItems {
  padding: 0.5em 1.25em;
  border: 1px solid white;
  border-top: none;
}

.sidebarBlockItems button {
  margin: 0.5em 0;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.sidebarBlockItems button:hover {
  cursor: pointer;
}

.sidebarBlockItems button img {
  height: 16px;
  width: 16px;
  align-self: flex-start;
}

.appWindowInside {
  padding: 0.4em;
  display: grid;
  grid-auto-rows: 58px;
}

.folderItem {
  display: flex;
  align-items: center;
  gap: 0.4em;
}

.folderDetails {
  color: #000;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.folderDetails p:first-of-type {
  font-weight: bold;
}

/* Contextual menu */
#contextualMenu {
  position: fixed;
  border: 1px solid #999;
  background-color: white;
  font-size: 0.7rem;
  box-shadow: 2px 2px 3px #0008;
  padding: 3px;
  min-width: max-content;
  color: #111;
  z-index: 100;
  transition: opacity 0.3s;
}

#contextualMenu hr {
  border: 0;
  height: 1px;
  width: 100%;
  background-color: #ccc;
  margin: 0.25em 0;
}

#contextualMenu li {
  padding: 0.2em 1em;
  padding-right: 2em;
}

#contextualMenu li:hover {
  background-color: hsl(214, 89%, 42%);
  color: white;
}

/* Notepad app */
.appWindow[data-app="notepad"] .appContent {
  display: flex;
}

.notepadTextarea {
  all: unset;
  flex: 1;
  height: 100%;
  max-height: 100%;
  border: 1px solid hsl(214, 89%, 42%);
  font-family: "Courier New", Courier, monospace;
  padding: 2px;
  font-weight: bold;
}

/* Calculator app */

#WORKSHOP {
  position: fixed;
  width: max-content;
  height: max-content;

  z-index: 999;
  /* display: none; */
}

.appWindow[data-app="calculator"] {
  width: max-content;
  height: max-content;
  min-width: max-content;
  min-height: max-content;
}

.appWindow[data-app="calculator"] .appContent {
  background-color: #f0efe6;
  padding: 0.1em 0.8em;
}

.calc_result {
  background-color: white;
  border: 1px solid #222;
  padding: 0.2em 0.5em 0.5em;
  text-align: right;
  cursor: text;
}

.calc_interface {
  margin: 0.8em 0;
  display: grid;
  gap: 0.5em;
  width: max-content;
  grid-template-columns: repeat(2, auto);
  color: blue;
}

.calc_empty {
  border: 1px solid white;
  border-top: 0;
  border-left: 0;
  width: 65%;
  margin-left: 10%;
  align-self: center;
  height: 85%;
  box-shadow: inset 1px 1px 2px #0008, inset -1px -1px 1px #fff;
}

.calc_interface button {
  border: 1px solid #222;
  padding: 0.3em 0.2em;
  min-width: max-content;
  background: radial-gradient(#fff, #eee);
  border: 2px solid transparent;
  outline: 1px solid hsl(214, 70%, 30%);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  border-bottom: 2px solid #0001;
}

.calc_interface button:hover {
  background: radial-gradient(#fff, #eee),
    linear-gradient(to top, orange, rgba(255, 166, 0, 0.185));
  background-clip: padding-box, border-box;
  background-size: cover;
  background-origin: border-box;
}

.calc_interface button:active {
  background: #e0e0e0;
  border-top-color: #ccc;
  border-bottom-color: #eee;
}

.calc_topline {
  grid-column: 2 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: inherit;
  margin-bottom: 0.3em;
  color: red;
}

.calc_topline button {
  width: auto;
}

.calc_leftline {
  display: grid;
  gap: inherit;
  margin-right: 0.5em;
  color: red;
}

.calc_mainblock {
  display: grid;
  gap: inherit;
  grid-template-columns: repeat(5, 1fr);
}

.calc_red {
  color: red;
}
